.meal{
  width: 100%;
  padding: .5rem;
  overflow-wrap: normal;

  border: 2px solid  #084343 !important;
  border-radius: 4px !important;
}
.gid{
    margin: 2.5em auto;
    
    width: 100%;
    column-gap: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: .5rem;
}
@media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
}